.subItem {
    visibility: hidden;
    opacity: 0;
    max-width: 0rem;
    overflow: hidden;
    transform: translateX(-0.25rem);
    transition: all 300ms ease-in-out;
}

.menuItem:hover+.subItem,
.subItem:hover {
    visibility: visible;
    opacity: 100;
    max-width: 100rem;
    transform: translateX(0);
    overflow: visible;
}

.subItem>li:hover+.subItem {
    visibility: visible;
    opacity: 100;
    max-width: 100rem;
    overflow: visible;
    transform: translateX(0);
}